<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2>REGISTRATION</h2>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <label for="username">Username
        <input id="username" type="email" th:field="*{username}">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></span>
    </label><br><br>
    <label for="password">Password
        <input id="password" type="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
    </label><br><br>
    <label for="repeat_password">Repeat password
        <input id="repeat_password" type="password" th:field="*{repeatPassword}">
        <span th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}" style="color: red;"></span>
    </label><br><br>
    <input type="submit" value="Register">
</form>
</body>
</html>